.task-container {
    background: #242320;
    border: 3px solid #A35709;
    border-radius: 10px;
    height: 60px;
    width: calc(100% - 70px);
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: margin-bottom 0.3s ease;
    position: relative;
}

.task-container:hover {
    margin-bottom: 70px;
}

.icons-container {
    display: none;
    position: absolute;
    right: 10px;
    bottom: -55px;
    padding: 5px;
    display: flex;
    border-radius: 5px;
}

.action-button {
    background: transparent;
    border: 3px solid #A35709;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 0;
    transition: background 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.action-button:hover {
    background: #A35709;
    color: #FFFFFF;
}

.action-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.task-container:hover .icons-container {
    display: flex;
}