.custom-task-container {
    background: #242320;
    border: 3px solid #A35709;
    border-radius: 10px;
    height: auto;
    width: calc(100% - 5px);
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin-left: -13px;
    transition: margin-bottom 0.3s ease;
    position: relative;

    &:hover {
        margin-bottom: 50px;
    }
}

.icons-container {
    display: flex;
    position: absolute;
    right: 5px;
    bottom: -56px;
    padding: 5px;
    border-radius: 5px;
}

.task-content {
    flex-grow: 1;
    min-width: 0;
}

.task-about {
    margin: 0;
    transition: max-height 0.3s ease;
}

.task-about.collapsed {
    max-height: 40px;
    overflow: hidden;
}

.task-about.expanded {
    max-height: none;
}

.action-button {
    background: transparent;
    border: 3px solid #A35709;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background 0.3s, border-color 0.3s;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
        background: #A35709;
        color: #FFFFFF;
        border-color: #A35709;
    }

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
}