.modal-button-delete {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-border-top-button-delete {
    height: 5px;
    background-color: #A35709;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.modal-content-button-delete {
    background: #1B1A17;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-header-button-delete {
    text-align: center;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.modal-buttons-button-delete {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button-button-delete {
    border: 3px solid #A35709;
    background: transparent;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, border-color 0.3s;
    outline: none;
}

.button-button-delete:focus {
    outline: none;
    box-shadow: none;
}

.button-button-delete:hover {
    background: #A35709;
    color: #FFFFFF;
    border-color: #A35709;
}